@media screen and (min-width: 481px) and (max-width: 1100px) {
   h1 {
      font-size: 6vw;
   }

   li {
      width: 20%;
   }

   li button {
      text-decoration: none;
      font-size: 2.5vw;
   }

   .menu_cart {
      text-decoration: none;
      width: 30%;
   }

   .menu_cart_btn {
      font-size: 2.5vw;
      padding-left: 0%;
      padding-right: 0%;
   }

   #search_div {
      width: 70%;
   }

   #glass {
      margin: 0;
      font-size: 2.5vw;
      margin-top: 0.5vw;
      margin-right: 1vw;
      height: 2.5vw;
      width: 2.5vw;
   }

   #search {
      padding: 0;
      /* border-bottom: 2px solid white; */
      font-size: 2.5vw;
      border-radius: 0;
      /* background-color: rgba(0,0,0,0); */
      /* width: 92vw; */
   }

   #search_delete {
      /* margin-top: 1vw; */
      margin-right: 2vw;
      font-size: 2.5vw;
      /* margin-top: 1vw; */
      height: 2.5vw;
      width: 2vw;
   }

   #goods {
      margin-top: 5.5vh;
   }

   .product {
      width: 18%;
      padding: 1vw;
      margin: 3% 2% 1% 2%;
   }

   .product:nth-child(5n+1) {
      margin: 3% 2% 1% 2%;
   }

   .product:nth-child(4n+1) {
      margin-left: 0;
      /* Убираем отступ для первого элемента */
   }

   .product_img {
      margin: 0;
      /* max-width: 35vw; */
   }

   .product_title {
      /* margin: 0;
      margin-top: 5%; */
      /* max-width: 35vw; */
      font-size: 2.5vw;
      overflow-wrap: break-word;
   }

   .product_count {
      border: inset #000000;
      left: 85%;
      top: -3%;
      width: 3.5vw;
      padding: 0.25vw;
      height: 3.5vw;
      font-size: 3vw;
   }

   .product_price {
      /* margin-bottom: 2vw; */
      padding: 0px;
      font-size: 2.5vw;
   }

   .product_btn {
      padding: 2% 3%;
      font-size: 2.5vw;
      margin-left: 15%;
      width: 70%;
      border-radius: 7px;
   }

   /* footer {
      margin-top: 2vh;
   } */
   /* footer h1 {
      margin: 0;
      font-size: 2vw;
      padding: 1vh 1vw 1vh 1vw;
      background-color: #4CAF50;
   } */

   footer li {
      display: inline;
      width: 30%;
      font-size: 2vw;
      text-align: center;
   }

   .about {
      display: inline;
      padding: 1.15vh 0.75vw 1.15vh 0.75vw;
      width: 33%;
      float: left;
   }

   .contacs {
      width: 55%;
      padding: 0%;
   }

   #about_btn {
      width: 100%;
      text-align: center;
      float: right;
      font-size: 2vw;
   }

   #about {
      width: 85%;
      height: auto;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 25px 40px #1687d933;
   }

   .about_info {
      font-size: 2vw;
      text-align: center;
   }

   .polkonf_btn {
      margin-left: 25%;
      width: 50%;
      /* border: 1px solid black; */
      background-color: #4CAF50;
      font-size: 2vw;
      /* width: 33%; */
      border-radius: 5px;
      border: inset #000000;
   }




   #cart {
      padding: 2%;
      width: 85%;
      height: 90%;
      border-radius: 20px;
   }

   .delete_all {
      margin-bottom: 1%;
      font-size: 2vw;
      width: 30%;
   }

   h2 {
      width: 20%;
      /* padding-top: 3%; */
      margin-left: 10%;
      font-size: 3vw;
      margin-top: 0;
   }

   .cart_header {
      font-size: 2.5vw;
   }

   .cart_title {
      width: 49%;
   }

   .cart_quantity {
      width: 22%;
   }

   .cart_sumprice {
      width: 29%;
   }

   .cart_product {
      display: flex;
      margin: 1vh 0vw 2vh 0vw;
      /* height: 10vh; */
   }

   /* .cart_product_img{
      width: 25%;
   }
   .cart_product_title{
      width: 34%;
      margin: 1vh 0% 3vh 0%;
      font-size: 4vw;
      font-weight: 500;
   }
   .cart_product_plus{
      width: 6%;
      height: 5vh;
      margin:2vh 1vw 2vh 2vw;
      font-size: 4vw;
   }
   .cart_product_minus{
      width: 6%;
      height: 5vh;
      margin:2vh 2vw 2vh 1vw;
      font-size: 4vw;
   }
   .cart_product_quantity {
      width: 6%;
      font-size: 4vw;
      }
   .cart_product_sumprice{
      width: 18%;
      font-size: 4vw;
   } */
   .del_btn {
      margin-left: 1%;
      font-size: 3vw;
      width: 8%;
   }

   .cart_product_img {
      margin-right: 10%;
      width: 30%;
   }

   .cart_product_quantity {
      width: 22%;
      font-size: 3vw;
   }

   .cart_product_sumprice {
      width: 28%;
      font-size: 3vw;
      text-align: center;
   }

   #cart_sumprice_value {
      font-size: 3vw;
   }

   #cart_sum {
      margin-left: 72%;
      font-size: 3vw;
   }

   .itn_msg {
      font-size: 2.5vw;
   }

   #itn {
      border: 4px solid black;
      width: 60%;
      font-size: 3vw;
      margin-left: 20%;
   }

   #err_msg {
      margin: 0;
      margin-left: 20%;
      width: 60%;
      ;
      font-size: 3vw;
   }

   .tinkoffPayRow {
      border: 4px solid black;
      width: 60%;
      font-size: 3vw;
      margin-left: 20%;
      margin-top: 3%;
   }

   .btn {
      width: 30%;
      padding: 1% 2%;
      border-radius: 5px;
      font-size: 3vw;
      margin-top: 2%;
      margin-left: 35%;
   }











   .Success_payment_block {
      box-shadow: 10px 10px 40px #434040;
      background-color: rgb(255, 255, 255);
      margin-top: 3vh;
      padding-top: 1vh;
      padding-bottom: 5vh;
      margin-left: 5vw;
      width: 90vw;
      border-radius: 10px;
      text-align: center;
   }

   .Success_payment_btn {
      padding: 1%;
      width: 90%;
      border-radius: 10px;
      border: inset #000000;
      color: white;
      background-color: #4CAF50;
      font-size: 5vw;
      text-align: center;
   }

   .Success_payment {
      font-size: 6vw;
   }





   #full_card {
      width: 70%;
      padding: 2vw;
      /* display: grid; */
      /* place-items: center;
      align-items: center; */
      text-align: center;
      position: relative;
      /* border-radius: 20px; */
      /* box-shadow: 10px 10px 40px #434040; */
   }

   #full_card .product_img {
      margin-top: 1vh;
      width: 70%;
   }

   #full_card .product_btn {
      margin-left: 0;
      width: 50%;
   }

   #full_card .product_count {
      /* border: 1vw inset #000000; */
      top: -3%;
      left: 92%;
      padding: 0.5vw;
      width: 6vw;
      height: 6vw;
      font-size: 4vw;
      z-index: 402;
   }

   #full_card .fancybox-close-small {
      padding: 0%;
      left: 0%;
      top: 0%;
      width: 6vw;
      height: 6vw;
   }

}